type hal_gnss_rpi, domain;
hal_server_domain(hal_gnss_rpi, hal_gnss)

type hal_gnss_rpi_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(hal_gnss_rpi)

# USB serial GNSS receivers are hot-plugged and may be either ttyACM or ttyUSB.
allow hal_gnss_rpi device:dir { search open read getattr };
allow hal_gnss_rpi tmpfs:dir { search open read getattr };
allow hal_gnss_rpi gps_device:chr_file { rw_file_perms ioctl };

binder_call(hal_gnss_rpi, servicemanager)
