on property:vendor.audio.a2b.restart=1
    restart vendor.audio-rpi
    setprop vendor.audio.a2b.restart 0

service vendor.audio-rpi /apex/com.android.hardware.audio.rpi/bin/hw/android.hardware.audio.service.rpi
    class hal
    user audioserver
    socket a2b_control stream 0600 root root
    # media gid needed for /dev/fm (radio) and for /data/misc/media (tee)
    # Root-owned A2B profiles are readable by the audioserver group (0640/0750).
    group audio audioserver camera drmrpc inet media mediadrm net_bt net_bt_admin net_bw_acct wakelock context_hub
    capabilities BLOCK_SUSPEND SYS_NICE
    # setting RLIMIT_RTPRIO allows binder RT priority inheritance
    rlimit rtprio 10 10
    ioprio rt 4
    task_profiles ProcessCapacityHigh HighPerformance
    onrestart restart audioserver

service vendor.audio-effect-rpi /apex/com.android.hardware.audio.rpi/bin/hw/android.hardware.audio.effect.service.rpi
    class hal
    user audioserver
    # media gid needed for /dev/fm (radio) and for /data/misc/media (tee)
    group audio media
    capabilities BLOCK_SUSPEND
    # setting RLIMIT_RTPRIO allows binder RT priority inheritance
    rlimit rtprio 10 10
    ioprio rt 4
    task_profiles ProcessCapacityHigh HighPerformance
    onrestart restart audioserver
