<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright 2026 Radio Sound, Inc.
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.radiosound.caramelvoicedefaults">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.MANAGE_APP_OPS_MODES" />

    <application
        android:directBootAware="true"
        android:hasCode="true"
        android:label="Caramel voice defaults">
        <receiver
            android:name=".VoiceDefaultsReceiver"
            android:directBootAware="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_UNLOCKED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
